<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    
    <!--Dialog-->
    <add key="SMS_GatewayURL" value="https://sms.gateway.com" />
    <add key="SMS_Gateway_AuthCode" value="123"/>
    
    <!--Lankabell-->
    <add key="BellSMSURL" value="https://sms.gateway.com" />
    <add key="BellSMSCompanyId" value="123"/>
    <add key="BellSMSPassword" value="123"/>
    
    
    <add key="SendUsingBell" value="true"/>
    
  </appSettings>
</configuration>